.gall{
    /* color: #CCAC00; */
   margin-top: 120px;
   /* border: 1px solid black; */
   /* width: 50%; */


    
}

.gall h1{
    color: #CCAC00;
    margin-bottom: 10px;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Merienda', cursive;

font-weight: lighter;
    /* font-family: 'Great Vibes', cursive; */

}

.gall p{
  width: 70%;
   text-align:center;
   font-size: 1rem;
}


.gall1{
    /* color: #CCAC00; */
   margin-top: 50px;
   /* border: 1px solid black; */
   /* width: 50%; */


    
}

.gall1 h1{
    color: #CCAC00;
    margin-bottom: 10px;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Merienda', cursive;

font-weight: lighter;
    /* font-family: 'Great Vibes', cursive; */

}

.gall1 p{
  width: 70%;
   text-align:center;
   font-size: 1rem;
}
.photos{
    /* border: 2px solid black; */
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content:center;



}
.phots11{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('elegant\ photos/gal1.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}
.phots11:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots12:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}.phots13:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}.phots14:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}.phots15:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}.phots16:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}.phots17:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}.phots18:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots19:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots20:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots21:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots22:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots23:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots24:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots25:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots26:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots27:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots28:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots29:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots30:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}

.phots31:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots32:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots33:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots34:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots35:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots36:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots2:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots3:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots4:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots6:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots7:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots8:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots9:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}
.phots10:hover{
    transform: scale(1.3);
    border: 3px solid #CCAC00;

}


.phots12{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('elegant\ photos/gal2.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots13{
    height: 300px;
    width: 200px;
    border: 1px solid #CCAC00;
    background-image: url('elegant\ photos/gal4.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots14{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('elegant\ photos/less18.JPG');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots15{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('elegant\ photos/gal5.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots16{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/wed8.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots17{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/wed11.png');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots18{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/wed2.jpeg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots19{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/wed3.jpeg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots20{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/wed4.jpeg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots21{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/haldi`0.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots22{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('');
    background-image: url('elegant photos/gal2.jpg');

    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px; 
    border-radius: 3px;

}.phots23{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('elegant photos/gal5-min.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots24{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('elegant photos/gal9.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots25{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('elegant\ photos/less5.JPG');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots26{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/haldi8.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots27{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('elegant photos/nice12-min.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots28{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/haldi1.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots29{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/haldi3.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots30{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/haldi7.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots31{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/birth7.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}
.phots32{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/birth8.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots33{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/birth9.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}.phots34{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/birth11.webp');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}

.phots{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/sangeet5.jpg');
    background-size: 100% 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;

}
.phots1{
    height: 300px;
    width: 200px;
    border: 1px solid #CCAC00;
    background-image: url('img/sangeet6.jpeg');
    background-size: 100% 100%;
    margin-right: 5px;
    border-radius: 3px;

    /* background-image: url('../../img/virushka.jpg'); */

}.phots2{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    /* background-image: url('../../img/Frame\ 8.png'); */
    background-size: 100% 100%;
    margin-right: 5px;
    background-image: url('img/sangeet2.JPG');
    background-size: 100% 100%;
    border-radius: 3px;



}.phots3{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    background-image: url('img/sangeet4.JPG');
    background-size: 100% 100%;
    border-radius: 3px;
   
    
}
.phots4{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    margin-right: 5px;
    margin-bottom: 5px;
    background-image: url('img/sangeet6.jpeg');
    background-size: 100% 100%;
    border-radius: 3px;
   

}
.phots5{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    margin-right: 5px;
    background-image: url('img/sangeet7.jpg');
    background-size: 100% 100%;
    border-radius: 3px;

}
.phots6{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    margin-right: 5px;
    background-image: url('elegant\ photos/nice2-min.jpg');
    background-size: 100% 100%;
    border-radius: 3px;


}.phots7{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    margin-right: 5px;
        background-image: url('img/ring8.jpg');
    background-size: 100% 100%;
    border-radius: 3px;

}.phots8{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    margin-right: 5px;
    background-image: url('img/ring9.jpeg');
    background-size: 100% 100%;
    border-radius: 3px;

  

}.phots9{
    height: 300px;
    width: 400px;
    border: 1px solid #CCAC00;
    margin-right: 5px;
    background-image: url('img/ring5.jpeg');
    background-size: 100% 100%;
    border-radius: 3px;


}
.phots10{
    height: 300px;
    width:400px;
    border: 1px solid #CCAC00;
    background-image: url('img/ring.jpeg');
    background-size: 100% 100%;
    border-radius: 3px;

}

@media (max-width:550px) {
    .phots1,.phots2,.phots3,.phots4,.phots7,.phots8,.phots9,.phots10{
        width: 400px;
        height: 400px;
    }
}