@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/* .sticky{
  position: fixed;
  width: 100%;
  
} */

.milo {
  background-color: #ccac00;
  color: black;
  background-color: white;
  border: 2px solid #ccac00;
  padding: 5px 5px;
}

.contact {
  /* display: none; */
  display: inline-block;
  /* font-family: 'Great Vibes', cursive; */
  width: 100px;
  height: 50px;
  padding: 0.5em 1.5em;
  text-decoration: none;
  /* border-radius: 50px; */
  cursor: pointer;
  border: 2px solid gold;
  color: gold;
  outline: none;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}
.contact1 {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  /* border-radius: 50px; */
  cursor: pointer;
  border: 2px solid gold;
  color: gold;
  outline: none;
  background-color: white;
  font-weight: bold;
}

.html {
  /* font-size: 62.5%; */
}
/* 
body {
  font-family: "Poppins", sans-serif;
} */

/* ///////////..utility classes../////////// */

.cont {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  /* border-radius: 50px; */
  cursor: pointer;
  border: 2px solid #ccac00;
  color: #ccac00;
  outline: none;
  background-color: white;
  font-weight: bold;
  /* font-family: 'Dancing Script', cursive; */

  /* margin-top: 1em; */
  /* text-transform: uppercase; */
  /* font-weight: small; */
}

.btn-primary {
  /* color: #fff; */
  /* background: #16a083; */
}

.btn-primary:hover {
  /* background: #f9f9f9; */
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  /* position: fixed;
  width: 100%;
  background-image: ;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12; */
  background-image: rgb(245, 79, 79);
  color: black;
  background-color: white;
  opacity: 1;
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Rouge Script', cursive; */

  /* position: fixed; */
  /* border: 2px solid black; */
  height: 100px;
}

.navcont {
  /* display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; */
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  width: 90%;
  /* border: 2px solid black; */
}

.menu-items {
  order: 2;
  display: flex;
  align-items: center;
  gap: 60px;
  animation: fadeIn 4s;
  color: white;
  /* font-size: 2px; */
}

.menu-items li {
  list-style: none;
  /* margin-left: 1.5rem; */

  font-size: 1.9rem;
}

.menu-items a {
  text-decoration: none;
  color: black;
  font-weight: bolder;

  /* font-weight: 500; */
  transition: color 0.3s ease-in-out;
  font-size: 1.3rem;
  font-family: 'Merienda', cursive;

}

.menu-items li:hover {
  /* color: #117964; */
  /* border: 1px solid black; */
  /* background-color: gold; */
}

.logo {
  /* order: 1; */
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  animation: fadeIn 2s;
  margin-top: 8px;
  /* margin-bottom: 0.5rem; */
}
.logo img {
  height: 120px;
  width: 120px;
}

/* ......../ media query /.......... */

@media (max-width: 900px) {
  .navbar {
    /* opacity: 0.95; */
  }
  .contact1 {
    display: none;
  }
  .contact {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    /* border-radius: 50px; */
    cursor: pointer;
    border: 2px solid gold;
    color: gold;
    outline: none;
    background-color: white;
    font-weight: bold;
  }

  .menu-items {
    gap: 30px;
  }

  .navcont input[type="checkbox"],
  .navcont .hamburger-lines {
    display: block;
  }

  .navcont {
    display: block;
    position: relative;
    height: 100px;
  }

  .navcont input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    margin-top: 10px;
  }

  .navcont .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 28px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo img {
    height: 100px;
    width: 100px;
  }

  .navcont .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navcont .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navcont .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navcont .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: white;
    opacity: 1;
    height: 100vh;
    max-width: 175px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 0px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    border-radius: 50px;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: -7px;
    right: 15px;
    font-size: 2rem;
  }

  .navcont input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navcont input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navcont input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navcont input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}
@media (max-width: 768px) {
  .navbar {
    /* opacity: 0.95; */
  }
  .contact1 {
    display: none;
  }
  .contact {
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    /* border-radius: 50px; */
    cursor: pointer;
    border: 2px solid gold;
    color: gold;
    outline: none;
    background-color: white;
    font-weight: bold;
  }

  .menu-items {
    gap: 30px;
  }

  .navcont input[type="checkbox"],
  .navcont .hamburger-lines {
    display: block;
  }

  .navcont {
    display: block;
    position: relative;
    height: 100px;
  }

  .navcont input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    margin-top: 10px;
  }

  .navcont .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 28px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo img {
    height: 100px;
    width: 100px;
  }

  .navcont .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navcont .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navcont .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navcont .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: white;
    opacity: 1;
    height: 102vh;
    max-width: 175px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 0px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    margin-bottom: 20px;
    border-radius: 50px;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: -7px;
    right: 15px;
    font-size: 2rem;
  }

  .navcont input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navcont input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navcont input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navcont input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    font-size: 1.6rem;
  }

  .logo {
    position: absolute;
    top: -7px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar .menu-items li {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}


#mainslider{
  margin-top: 101px;
  height: 600px;
  overflow-x: hidden; 
}
#mainslider img {
  transition: transform .5s ease;
}
#mainslider:hover img{
width: 100%;
  /* transform: scale(1.1); */
}
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.centered h1{
  font-family: 'Merienda', cursive;
}

.img-gradient{
  position:relative;
  display:inline-block;
}

@media(max-width:500px){

  #mainslider{
    margin-top: 101px;
    height: 368px;
    overflow-x: hidden; 
  }
}



/* 
#002f4b,#dc4225 
Convert HEX to RGBA - http://hex2rgba.devoth.com/
*/
.img-gradient:before {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.3)), color-stop(100%,rgba(0,47,75,0.3))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img{
  display:block;
}
/* 
#main1{
background-image: url('elegant photos/gal2.jpg');
background-size: 100% 100%;
}
#main2{
  background-image: url('img/Eelegant_events.png');
background-size: 100% 100%;

  }
  #main3{
    background-image: url('img/Eelegant_events.png');
background-size: 100% 100%;

    } */
#mainslider img{
 width: 100%;
 object-fit: cover;
  
}

.vision2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  ), url("img/homa_agni.jpg");

  background-position:center;
  /* background-color: rgba(255, 255, 255, 0.7); */
  height: 60vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}


.vision2 img{
  height: 80px;
  width: 80px;
}

.vision2 p {
  text-align: justify;
  width: 70%;
  font-weight: 600;
  margin-bottom: 80px;
  
}
.vision2 h1{
  font-family: 'Merienda', cursive;

}
.qualities{
display: flex;
flex-direction: row;
width: 100%;
justify-content: center;
align-items: center;
flex-wrap: wrap;
/* height: 500px; */
}
.qual1{
  margin: 40px;
  /* border: 1px solid wheat; */
}
.qual2{
  margin: 40px;
  /* border: 1px solid wheat; */

}
.qual3{
  margin: 40px;
  /* border: 1px solid wheat; */

}
.qual4{
  margin: 40px;
  /* border: 1px solid wheat; */

}
@media(max-width:890px){
  .vision2{
    height: 100vh;
  }
}

@media(max-width:347px){
  .vision2{
    height: 130vh;
  }
}

@media(max-width:336px){
  .vision2{
    height: 160vh;
  }
}

.vision3 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items:center;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  ), url("elegant photos/priyansh.jpeg");

  background-position:center;
  /* background-color: rgba(255, 255, 255, 0.7); */
  height: 90vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}


.vision3 img{
  height: 80px;
  width: 80px;
} 

.vision4 {
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  align-items:center;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  ), url("img/testi2.jpg");

  background-position:center;
  /* background-color: rgba(255, 255, 255, 0.7); */
  height: 90vh;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}


.vision4 img{
  height: 80px;
  width: 80px;
}

.slider {
  height: 90vh;
  /* opacity: 0.7; */
  /* background-color: black; */

  margin-top: 20px;

}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
  /* z-index: -1; */
  /* color: black; */
  /* border: 3px solid #CCAC00 */
}

.slide1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(252, 252, 252, 0.1)
    ),
    url("elegant\ photos/gal5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade1 15s infinite;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90% */
  color: transparent;
  flex-direction: column;
}

.slide1 h3 {
  margin-top: 200px;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.slide2 h3 {
  margin-top: 200px;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.slide3 h3 {
  margin-top: 200px;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.slide2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(255, 255, 255, 0.1)
    ),
    url("elegant\ photos/gal8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade2 15s infinite;
  background-size: 100% 100%;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide3 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(255, 255, 255, 0.1)
    ),
    url("elegant\ photos/gal18-min.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  animation: fade3 15s infinite;
  background-size: 100% 100%;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  flex-direction: column;
}

@media (max-width: 780px) {
  .slider {
    height: 70vh;
  }
  .slide1,
  .slide2,
  .slide3 {
    min-height: 70vh;
  }
}

@media (max-width: 625px) {
  .slider {
    height: 55vh;
    /* margin-top: 100px; */
  }
  .slide1,
  .slide2,
  .slide3 {
    /* min-height: 55vh; */
  }
}
@keyframes fade1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.conta{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; 
    align-items: center;
    width: 100%;
    height: 60%;
    flex-wrap:wrap;
    /* margin-top: 607px; */
    
    /* border: 2px solid black; */
    
    background-color: #FFFFFF;
    
    
}

.conta h1{
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Rouge Script', cursive; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merienda', cursive;

    font-size: 3rem;
}






.box1{
    /* background-color: rgb(255, 255, 255); */
    /* margin-right: 20%; */
    display: flex;
  align-items: center;
  flex-direction: column;
    height: 20%;
    width: 50%;
    /* margin: 20px; */
    /* margin-left: 20px; */
    /* border: 2px solid black; */
    flex-wrap: wrap;
    text-align: center;
    text-align: justify;


}
.sp{
    color: #CCAC00;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merienda', cursive;
}
.box1 p{
width: 90%;
}
.box2{
    /* background-image: url('img/aboutus600.webp'); */
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    height: 570px;
    width: 50%;
    border-radius: 8px;
    /* border: 2px solid #CCAC00; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* border: 2px solid black; */
    
}
.box2 img{
  object-fit:cover;
  width: 100%;
  height: 100%;
}

body{
    margin: 0;
    padding: 0;
  overflow-x: hidden;

}


@media(max-width:768px){
    .conta{
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .box2{
        width: 100%;
    }
    .box1 p{
        width: 85%;
        }
        .box1{
            display: flex;
            flex-direction: column;
            text-align: justify;
            width: 90%;
            align-items: center;
        }

        
}

@media (max-width:625px) {
    .box2{
        height: 350px;
    }
    .conta{
    
      margin-top: 18px;
  }
}



.services {
    /* border: 2px solid black; */
    display: flex;
    height: 50%;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    margin-top: 3%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .services::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  
  .services::-webkit-scrollbar-track {
    background: #ffffff; /* color of the tracking area */
  }
  .services::-webkit-scrollbar-thumb {
    background-color:#CCAC00 ; /* color of the scroll thumb */
    border-radius: 15px; /* roundness of the scroll thumb */
    /* border: 3px solid orange;  */
  }
  
  .steps{
    /* background:url('../../img/steps.png'); */
    background-size: 100% 100%;
    height: 60vh;
  }
  
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
  }
  
  .services {
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  
  .services > div:target {
    transform: scale(0.8);
  }
  
  @supports (scroll-snap-type) {
    .services > a {
      display: none;
    }
  }
  .head span {
    color: #ccac00;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merienda', cursive;

  
  }
  .head h1{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merienda', cursive;

  
  }
  .head p{
    /* font-family: 'Rouge Script', cursive;
     */
     font-family: 'Playfair Display', serif;
  
  
  }
.popup .overlay{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
}

.popup1 .overlay{
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
}

  
  .serv {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame 3.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
 
  .serv1 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("https://iili.io/LOBNZN.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  .serv2 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame\ 10.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  .serv3 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame\ 4.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  .serv4 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame\ 13-min.png");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  .serv5 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame\ 6.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  .serv6 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame\ 7.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  .serv7 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame\ 8.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  .serv8 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame\ 9.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  .serv9 {
    /* border: 2px solid gold; */
    border-radius: 8px;
    height: 335px;
    width: 259px;
    margin: 10px;
    background-image: url("img/Frame\ 10.webp");
    background-size: 100% 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .serv:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  .serv1:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  .serv2:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  .serv3:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  .serv4:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  .serv5:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  .serv6:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  .serv7:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  .serv8:hover {
    border: 5px solid white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: fadeIn 0.5;
  }
  
  @media(max-width:770px){
    .steps{
      height: 40vh;
    }
  }





  .head {
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: "Great Vibes", cursive; */
    font-family: "Playfair Display", serif;
  
    margin-top: 10vh;
  }
  
  .head h1 {
    font-size: 2.4rem;
  }
  
  .port {
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120vh;
    margin-top: 50px;
  }
  
  .port1 {
    /* border: 2px solid pink; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .port2 {
    /* border: 1px solid #ccac00; */
    border-radius: 20px;
    width: 40%;
    height: 120vh;
    background-image: url("elegant\ photos/gal4-min.jpg");
    background-size: 100% 100%;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px; */
  }
  
  .port0 {
    width: 55%;
    /* border: 2px solid rgb(0, 17, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .port0 p {
    text-align: center;
    /* font-family: "Great Vibes", cursive; */
    font-size: 1.2rem;
    width: 70%;
  }
  .kaam {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice12-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .kaam2 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice13-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .kaam3 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice14-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .kaam4 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice15-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .kaam5 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice16-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .kaam6 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice2-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .kaam7 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice18-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .kaam8 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice21-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  .kaam9 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 220px;
    width: 220px;
    /* border: 1px solid black; */
    margin: 20px;
    /* border-radius: 100px; */
    background-image: url("elegant\ photos/nice22-min.jpg");
    background-size: 100% 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  @media (max-width: 951px) {
    .port {
      height: 30%;
      flex-direction: column;
    }
    .port2 {
      /* border: 5px solid #ccac00; */
      width: 100%;
      height: 600px;
      /* background-image: url(../../img/virushka.jpg); */
      background-size: 100% 100%;
      /* box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px; */
    }
    .port0 {
      width: 100%;
    }
  }



  .feed {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid red; */
    /* background-color: #f3d9d9; */
    /* font-family: 'Great Vibes', cursive; */
    /* background-image: url("../../img//gal1.jpg");0 */
    /* background-image: url('../../img/elegant\ photos/gal1.jpg'); */
  
    background-size: 100% 100%;
  
    
    margin-top:10vh;
  }
  
  
  
  .milo1{
    background-color: #ccac00;
    padding: 5px;
    color: white;
    border-radius: 10px;
    border: 1px solid #ccac00;
    margin-top: 10px;
  }
  
  .milo2{
    background-color: #ccac00;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
  
  
    color: white;
    border-radius: 10px;
    border: 1px solid #ccac00;
    
  }
  
  h1{
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Rouge Script', cursive; */
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
  
  }
  span{
    color: #ccac00;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Merienda', cursive;

  
    /* font-family: 'Rouge Script', cursive; */
  
  }
  
  .in {
    /* background-color: rgb(155, 201, 86); */
    width: 70%;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid gold;
  }
  
  .in1 {
    /* background-color: rgb(155, 201, 86); */
    width: 70%;
    height: 78px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 2px solid gold;
  }
  input {
    text-align: center;
    background: transparent;
    /* color: white; */
  }
  
  .in::placeholder {
    text-align: center;
  }
  
  .feedbox {
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    /* align-items: center; */
    width: 40%;
    height: 70vh;
    justify-content: center;
    background-color: white;
    opacity: 0.9;
    border: 4px solid #ccac00;
    font-weight: bold;
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  
  
  }
  
  .feed1 {
    /* border: 1px solid black; */
  }
  
  .feed2 {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }
  
  .contactus {
    display: flex;
    flex-direction: column;
    border: 5px solid #ccac00;
    width: 40%;
    height: 70vh;
    justify-content:center;
    align-items: center;
    text-align:left;
    background-color: white;
    opacity: 0.9;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .contactus p{
    font-size: 1.2rem;
  }
  
  
  @media (max-width: 900px) {
    .feed {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .feedbox{
      width: 90%;
      
    }
    .contactus{
      width: 100%;
      margin-top: 10%;
    }
  }
  
  @media (min-width:955px) and (max-width:1420px){
    .feed{
      margin-top: 60vh;
    }
  }
  
  


  .footer{
    display: flex;
    justify-content: center;
   box-shadow: 0px 5px 10px 0px #aaa;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.logo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 90%;
}
.logo1 img{
    width: 150px;
    height: 150px;
}
.logo1 p{
    font-size: 1rem;
    text-align: justify;
    width: 50%;
}
.social{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    width: 50%;
    justify-content: center;
    align-items: center;
}

.social img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

  
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .first{
  max-height: 300px;


} */
.reviews{
  text-align: center;
  /* color: blue; */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.reviews p{
  width: 80%;
  /* height: 60px; */
text-align: justify;
font-size: 1rem;


}

.gettouchmar{
  margin-top: 00px;
}

@media (min-width:955px) and (max-width:1420px){
  .gettouchmar{
    margin-top: 60vh;
  }
}
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background:#CCAC00;
position: relative;
color:white;
/* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.single-cta img {
color: #CCAC00;
font-size: 30px;
float: left;
margin-top: 8px;
height: 35px;
width: 35px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #ffffff;
font-size: 2rem;
font-weight: 600;
margin-bottom: 2px;
font-family: 'Merienda', cursive;

/* margin: 6px; */
}
.cta-text a{
  color: white;
  font-weight: 600;
}
.cta-text p {
color: #ffffff;
font-size: 1rem;
font-weight: 600;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 10px;
}
.footer-logo img {
  max-width: 140px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 1rem;
/* width: 40px; */
    color: #000000;
/* line-height: 28px; */
}
.footer-social-icon span {
color: #fffefb;
display: block;
font-size: 20px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: rgb(0, 0, 0);
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon img{
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
/* border-radius: 50%; */
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}

.footer-widget-heading h3 {
color: #ffffff;
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
position: relative;
margin-top: 20px;
font-family: 'Merienda', cursive;

}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ccac00;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ffffff;
}
.footer-widget ul li a {
color: #ffffff;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #ffffff;
border: 1px solid #2E2E2E;
color: rgb(0, 0, 0);
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #CCAC00;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: rgb(3, 3, 3);
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #ffffff;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #CCAC00;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #CCAC00;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}




.reviews img{
  height: 200px;
  width:   200px;
  border-radius: 100px;
  margin-bottom: -3px;
  object-fit: cover;
}

.reviews h1{
  color: #CCAC00;
  font-size: 2rem;
}


* {
	margin:0px;
	padding:0px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
	background: #ffffff;
	color: #333;
	font-weight: normal;
	font-size: 1em;
	font-family: 'Roboto', Arial, sans-serif;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}


/* Contact Form Styling */
.container {
	padding: 0 50px 25px;
}
.textcenter {
	text-align: center;
}
.section1 {
	text-align: center;
	display: table;
	width: 100%;
}
.section1 .shtext {
	display: block;
	margin-top: 20px;
}
.section1 .seperator {
	border-bottom:1px solid #a2a2a2;
	width: 35px;
	display: inline-block;
	margin: 20px;
}

.section1 h1 {
	font-size: 40px;
	color: #000000;
	font-weight: normal;
  font-family: 'Merienda', cursive;

}

.section2 {
    width: 1200px;
    /* margin: 25px auto; */
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}

.sec2addr p{
  font-size: 1.3rem;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 5px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #CCAC00;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #000000;
}

.map{
  width: 100%;
}
.gmap{
  width: 100%;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
	.section2 {
		width: 100%;
	}
}
@media only screen and (max-width: 960px) {
	.container {
		padding: 0 30px 70px;
	}
	.section2 .col2 {
		width: 100%;
		display: block;
	}
	.section2 .col2.first {
		margin-bottom: 10px;
	}
	.section2 .col2.column2 {
		padding: 0;
	}
	body .sec2map {
		height: 250px !important;
	}
}
@media only screen and (max-width: 768px) {
	.section2 .sec2addr {
		font-size: 14px;
	}
	.section2 .sec2contactform h3 {
		font-size: 16px;
	}
	.section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
		padding: 10px;
		margin:3px 0;
	}
	.section2 .sec2contactform input[type="submit"] {
		padding: 10px 30px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 420px) {
	.section1 h1 {
		font-size: 28px;
	}	
}



  

